WealthGrowthCreditVerification/Service References/CompuscanClient/NormalSearchStreamService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://webServices/" targetNamespace="http://webServices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:element name="DoNormalEnquiryStream" type="tns:DoNormalEnquiryStream" />
  <xs:element name="DoNormalEnquiryStreamResponse" type="tns:DoNormalEnquiryStreamResponse" />
  <xs:element name="DoNormalEnquiryStreamTest" type="tns:DoNormalEnquiryStreamTest" />
  <xs:element name="DoNormalEnquiryStreamTestResponse" type="tns:DoNormalEnquiryStreamTestResponse" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="PingServer" type="tns:PingServer" />
  <xs:element name="PingServerResponse" type="tns:PingServerResponse" />
  <xs:element name="transReplyStreamClass" type="tns:transReplyStreamClass" />
  <xs:complexType name="DoNormalEnquiryStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:NormalEnqRequestParamsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NormalEnqRequestParamsType">
    <xs:sequence>
      <xs:element name="pUsrnme" type="xs:string" />
      <xs:element name="pPasswrd" type="xs:string" />
      <xs:element name="pVersion" type="xs:string" />
      <xs:element name="pOrigin" type="xs:string" />
      <xs:element name="pOrigin_Version" type="xs:string" />
      <xs:element name="pInput_Format" type="xs:string" />
      <xs:element name="pTransaction" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DoNormalEnquiryStreamResponse">
    <xs:sequence>
      <xs:element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" maxOccurs="unbounded" name="return" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="suppressed" nillable="true" type="tns:throwable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="PingServer">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="PingServerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DoNormalEnquiryStreamTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:NormalEnqRequestParamsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DoNormalEnquiryStreamTestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:transReplyStreamClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transReplyStreamClass">
    <xs:sequence>
      <xs:element name="transactionCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="errorCode" type="xs:string" />
      <xs:element minOccurs="0" name="errorString" type="xs:string" />
      <xs:element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" maxOccurs="unbounded" name="retData" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>